<%= month_calendar do |date| %>
  <%= link_to new_user_day_path(date: date), class: 'no-underline' do %>
    <div class='circle text-center text-xl p-8 rounded-full'>
      <%= date.day %>
    </div>
  <% end %>
<% end %>
