<%= react_component("users/DailyView", { firstName: "#{@user.first_name}",
                                         updatePath: user_day_path(@user,@day),
                                         day: @day.start_time.to_s,
                                         meals: @day.meals,
                                         targetFats: @user.current_daily_target.fats,
                                         targetCarbs: @user.current_daily_target.carbs,
                                         targetProteins: @user.current_daily_target.proteins,
                                         targetCalories: @user.current_daily_target.calories
}) %>


<div class='flex justify-between px-2'>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<br>
