<div class='m-4'>
  <h1>Editing User</h1>
  <br />
  <p>First Name</p>
  <p>Last Name</p>
  <p>Email</p>
  <br />
  <p>Daily Target</p>
  <br />
  <p>Fat Grams</p>
  <p>Protein Grams</p>
  <p>Carb Grams</p>
  <p>Compute Calories</p>

  <br />
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
