<div class='bg-blue-lightest h-screen'>
  <div class='m-4'>
    <p class='text-5xl m-4'>Trainer View</p>
    <p class='text-4xl m-4'>Managing <%= @users.count %> Users </p>
  </div>
  <div class='px-4'>
    <div class='md:flex md:flex-wrap -mx-4'>
      <%= render @users %>
    </div>
  </div>
</div>
